.album {
    width: 100%;
}

.album-container {
    display: flex;
}

.grid-album {
    ion-col {
        &:hover {
            .album-sel {
                background: rgba(251,255,0,0.5);
                opacity: 1;
            }
        }
        padding: 0;
    }
}

.album-sel {
    background: rgba(200,200,200,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.album-sel-cor {
    .album-sel {
        opacity: 1;
    }
}